= form_for @certification_scheme do |f|
  - if @certification_scheme.errors.any?
    .alert.alert-danger
      %h6= "#{pluralize(@certification_scheme.errors.count, "error")} prohibited this certification_scheme from being saved:"
      %ul.mb-0
        - @certification_scheme.errors.full_messages.each do |message|
          %li= message
  .form-group.row
    .col-sm-3
      = f.label :code, 'Kode', class: 'col-form-label'
      %p.form-text.small.text-muted
        Kode unik, cth. 'FR.SKEMA-01' atau 'FR.SKEMA-02'
    .col-sm-8
      = f.text_field :code, class: 'form-control'
    .col-sm-1.text-danger
      *
  .form-group.row
    .col-sm-3
      = f.label :name, 'Nama', class: 'col-form-label'
      %p.form-text.small.text-muted
        Nama unik, cth. 'Programmer' atau 'Network Administrator'
    .col-sm-8
      = f.text_field :name, class: 'form-control'
    .col-sm-1.text-danger
      *
  .form-group.row
    .col-sm-3
      = f.label :scheme_type, 'Tipe', class: 'col-form-label'
    .col-sm-8
      = f.select :scheme_type, CertificationScheme.scheme_types.keys.map { |x| [x.humanize, x] }, {}, class: 'form-control'
    .col-sm-1.text-danger
      *
  .form-group.row
    .col-sm-3
      = f.label :certification_fee, 'Biaya Sertifikasi', class: 'col-form-label'
      %p.form-text.small.text-muted
        Jumlah yang harus dibayarkan peserta, cth. '1250000' atau '1,250,000'
    .col-sm-8
      .input-group
        %span.input-group-addon Rp
        = f.text_field :certification_fee, class: 'form-control'
    .col-sm-1.text-danger
      *
  .form-group.row
    .col-sm-3
      = f.label :description, 'Deskripsi', class: 'col-form-label'
      %p.form-text.small.text-muted
        Keterangan singkat mengenai Skema Sertifikasi ini
    .col-sm-8
      = f.text_area :description, class: 'form-control', rows: 8
    .col-sm-1.text-danger
      *
  .form-group.row
    .col-sm-12
      = button_tag type: 'submit', class: 'btn btn-primary', style: 'cursor: pointer' do
        %i.fa.fa-save
        Simpan Skema Sertifikasi
