%div.container
  %div.row
    %div.col
      %h1 Daftar Skema Sertifikasi
      %br
      = link_to 'Tambah Skema Sertifikasi Baru', new_certification_scheme_path, class: 'btn btn-primary', role: 'button'
      %br
      %br
      %table.table
        %thead
          %tr
            %th Skema Sertifikasi
            %th Deskripsi
            %th{colspan: 3} Kelola
        %tbody
          - @certification_schemes.each do |certification_scheme|
            %tr
              %td{nowrap: true}
                = link_to certification_scheme.name, certification_scheme
                %br
                = certification_scheme.code
                %br
                = certification_scheme.scheme_type.capitalize
              %td= certification_scheme.description
              %td
                %div.btn-group{role: 'group', 'aria-label': 'Actions'}
                  = link_to 'Ubah', edit_certification_scheme_path(certification_scheme), class: 'btn btn-primary', role: 'button'
                  = link_to 'Hapus', certification_scheme, method: :delete, class: 'btn btn-danger', role: 'button', data: { confirm: 'Anda yakin menghapus Skema Sertifikasi ini?' }
